---
import {
  ImageSupportDetection,
} from "astro-imagetools/components";
interface Props {
  pageTitle: string | undefined;
}

const { pageTitle } = Astro.props;
const year = new Date().getFullYear()
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ImageSupportDetection />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>{pageTitle}</title>
  </head>
  <body class="w-full">
      <header class="header">
      </header>
      <main class:list={['relative','flex', 'flex-col','items-center','w-full', 'lt-lg:mx-0', 'pb-24']}>
        <slot />
      </main>
      

    <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600 ">
      <div class:list={['w-full','flex', 'flex-row', 'lt-sm:flex-col-reverse','items-center', 'justify-around']}>
        <span class="text-xl text-gray-500 sm:text-center dark:text-gray-400">© {year} <a href="/" class="hover:underline">Newtrend-ABA</a>. All Rights Reserved.
        </span>
        <span class="text-2xl text-black sm:text-center dark:text-gray-400">
          <slot name="contact"  />
        </span>
      </div>
      <!-- <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="#" class="hover:underline me-4 md:me-6">About</a>
          </li>
          <li>
              <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
              <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
          </li>
          <li>
              <a href="#" class="hover:underline">Contact</a>
          </li>
      </ul> -->
    </footer>
    </div>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  </body>
</html>


<style is:global>
  html {
    background-color: var(--white);
    font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }
  /*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  overflow-x: auto;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
</style>
