---
const {imgSrc} = Astro.props
---
<!-- <section class:list={['bg-no-repeat', 'bg-cover', 'bg-center', 'bg-gray-700', 'bg-blend-multiply']}> -->
<section >
    <!-- <BackgroundImage
        src={imgSrc}
        tag="section"
        backgroundSize="cover"
        position="center"
    >
        <slot />
    </BackgroundImage> -->
</section>

