---
// import { Debug } from 'astro:components';
const { node } = Astro.props

const featureList = node.listItem === 'bullet' ? node.children : []

const textNode = (item: any) => item.children[0].text 
// console.log("NODE CHILDREN", node.children)
---
<ul class="space-y-4 dark:text-gray-400 mt-16 lt-lg:m-0 lt-lg:p-16">
    {
        featureList.map((item: any) => (
        <li class="flex flex-row items-center justify-center space-x-10 lt-sm:space-x-4 lt-sm:pl-8">
            <div class:list={[
                'text-indigo-900',
                'font-sans',
                'font-400',
                'text-center', 
                'w-sm', 
            ]}>
                <span class:list={['text-4xl', 'lt-md:text-3xl']}>{ textNode(item) }</span>
            </div>
        </li>
        ))
    }
</ul>
