---
import imageUrlBuilder from "@sanity/image-url";
import type { Image } from "@sanity/types";
import { sanityClient } from "sanity:client";


const builder = imageUrlBuilder(sanityClient)

const {node} = Astro.props
const { width = 960 } = Astro.props

// See https://www.sanity.io/docs/presenting-images for general documentation on
// presenting images, and https://www.sanity.io/docs/image-url for specifics on
// this builder API
const image = node && builder
  .image(node)
  .width(width)
  .fit('max')
  .auto('format')
  .url()
const imageUrl = `url(${image})`
---
<section class:list={['relative']}>
  <div class:list={['absolute','bg-wrapper','bg-no-repeat', 'bg-cover', 'bg-center', 'bg-gray-400', 'bg-blend-multiply', 'w-full']}>
    <slot />
  </div>
</section>

<!-- {image && <img src={image.url()} alt={node.alt || ""} title={node.alt} />} -->

<style define:vars={{ imageUrl }}>
  .bg-wrapper {
    background-image: var(--imageUrl);
  }
</style>